@import '../_common'

header
    z-index: 10
    position: fixed
    left: 0
    right: 0
    top: 0
    &::before
        content: ""
        position: absolute
        inset: 0
        background: var(--secondary-a)
        height: 0
        width: 100%
        transition: .4s ease-in-out
        z-index: 1
        opacity: 0
    &.header-fixed
        &::before
            height: 100%
            opacity: 1
        .header-wrapper
            .logo
                img
                    max-width: 108px
    .header-wrapper
        z-index: 2
        position: relative
        display: flex
        justify-content: space-between
        align-items: center
        padding: 10px var(--containerfluid)
        .logo
            img
                transition: .4s ease-in-out
                max-width: 149px
                height: 100%
                object-fit: cover
        .nav
            display: flex
            align-items: center
            gap: 42px
            li
                .btn-animate
                    padding: 14px 36.5px
                .ham-btn
                    span
                        display: block
                        height: 1px
                        background-color: $primary
                        &:not(:last-child)
                            margin-bottom: 7.5px
                        &:first-child
                            width: 46px
                        &:nth-child(2)
                            width: 40px
                        &:last-child
                            width: 35px
